body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.navbar 
{
    margin-bottom: 20px;
    background-color: #000 !important;
}

.container 
{
    margin-top: 20px;
    color: black;
    line-height: 10.5px;
}

footer 
{
    margin-top: 20px;
    text-align: center;
}

.mt-4 
{
    margin-top: 0 !important; 
}

.navbar 
{
    margin-bottom: 0 !important; 
    border-radius: 0% !important; 
}

.jumbotron 
{
    border-radius: 0% !important; 
    padding: 9rem 2rem;
    background-color: white !important;
    color: #000 !important;
}


.containerDashboard 
{
    margin-top: 20px;
    color: white;
    text-align: center;
    line-height: 10.5px;
    background-color: gray;
    padding: 20px 0;
}

.h1
{
    font-size: 80px !important;
    font-weight: 800;
    text-align: center;
    padding-top: 120px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.lead
{
    text-align: center !important;
}

.display-4
{
    text-align: center !important;
}

.h4
{
    text-align: center;
    margin-top: -17px;
    font-size: 18px;
    color: white;
}

.form-section 
{
    margin-bottom: 30px;
}

.form-section h2 
{
    margin-bottom: 20px;
    font-weight: bold;
}
/* 
.btn-primary 
{
    background-color: #000;
    border-color: #000;
    margin-bottom: 20px;
}

.btn-primary:hover 
{
    background-color: #000;
    border-color: #000;
} */

.success 
{
    font-weight: bolder;
    text-align: center;
    margin-top: 190px;
}

.success-btn
{
    text-align: center;
    margin-top: 10px;
}

.g2-page-btn
{
    display: flex;
}
/* 
.btn-secondary
{
    font-weight: bolder !important;
    margin-bottom: 10px;
} */
.text-muted{
    color: #000 !important;
}

#grid-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/* .btn{
    width: 100%;
} */
.card-body{
    border: #000 solid 2px !important;
    width: 100%;
}

.dflexbtn{
    margin-top: 10%;
}