<%- include('../layout') %>

<div class="container g-page-container">
  <h1 class="text-center mb-4">Examiner Page</h1>
<div class="row">
    <div class="col-md-12">
        Hello Examiner
    </div>
</div>
</div>