<%- include('../layout') %>

<div class="jumbotron bg-dark text-white">
    <h1 class="display-4"><strong>Dashboard</strong></h1>
    <p class="lead">DriveTest Booking Kiosk</p>
</div>
<div class="containerDashboard">
    <h2><strong>You can book G2/G drive test from this Kiosk</strong></h2>
    <p>You can book G2/G drive test from this Kiosk</p>
    <p class="text-muted">Posted by <strong><i>DriveTest Center</i></strong></p>
</div>